.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl
src/spice/tt_um_ashleyjr_delay_line.mag
src/spice/tt_um_ashleyjr_delay_line.ext
src/spice/tt_um_ashleyjr_delay_line.spice
